<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/common}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/css/makeblog.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<title>新規ブログ作成</title>
<style>
label>input{
display:none; /*アップロードボタンの初期スタイルを無効化*/
}
label{
	color: #fff; /* ラベルテキストの色を指定する */
	font-size: 13px; /* ラベルテキストのサイズを指定する */
	background-color: #006DD9;/* ラベルの背景色を指定する */
	padding: 6px; /* ラベルとテキスト間の余白を指定する */
	border-radius: 10px; /* ラベルボックスの角丸を指定する */
	cursor:pointer; /* マウスカーソルの形を指定する */}
label:hover{
	background-color: #000000;
}
</style>
</head>
<body>
<div layout:fragment="content">
	<div class="container">
		<div>
			<a class="tag" href="/person/create">新規ブログ作成</a>
		</div>
		<div>
			<a class="tag" href="/person/edit">プロフィール編集</a>
		</div>
	</div>
<a class="return" href="/person/index">ホームに戻る</a>
	<form th:action="@{''}" method="post" th:object="${blog}" enctype="multipart/form-data">
		<input type="hidden" th:field="*{id}">
		<input type="hidden" th:field="*{person.id}">
	<div class="create-blog">
		<div class="blog-title">
			タイトル<br>
			<input type="text" th:field="*{title}">
			<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
		</div>
		<div class="contents">
			投稿内容<br>
			<textarea cols="100" rows="10" th:field="*{contents}"></textarea>
			<span th:if="${#fields.hasErrors('contents')}" th:errors="*{contents}"></span>
		</div>
		<ul class="grid-image">
			<li th:each="fileEntity:*{fileEntities}" th:object="${fileEntity}">
				<span th:if="${fileEntity.base64_str !=null}">
					<img th:src="${fileEntity.base64_str}">
					<a th:href="@{|/person/fileEntity/*{id}/deleteimage|}">画像削除</a>
				</span>				
			</li>
		</ul>
		<div>			
			画像投稿<label class="choice-img" for="fileBox">
				ファイルを選択してください
				<input type="file" name="mfiles" multiple="multiple" accept="image/*" id="fileBox" onchange="$('#msg').val($(this).val())">
				<input type="text" id="fileBox" value="ファイル選択" onclick="$('#file').click();"><br>
			</label>
			<p class="img-text" id="msg"></p>
			<script>
function changeFile(){
  let files = fileBox.files;
  let filenames = "";

  for(let i = 0 ; i < files.length ; i++){
  	if (i > 0){
      filenames += ', ';
  	}

    filenames += files[i].name;
  }

  msg.innerText = '選択しているファイルは ' + filenames ;
}

let fileBox = document.getElementById('fileBox');
fileBox.addEventListener('change', changeFile);
let msg = document.getElementById('msg');
</script>
			
		</div>
		
		<table class="comment">
		<tr>
			<th>id</th>
			<th>コメント</th>
			<th>投稿日時</th>
			<th>名前</th>
			<th></th>
		</tr>
		<tr th:each="c:*{comments}" th:object="${c}">
			<td><span th:text="*{id}"></span></td>
			<td><span th:text="*{commenting}"></span></td>
			<td><span th:text="*{postDateTime}"></span></td>
			<td><span th:text="*{person.name}"></span>
			<td><span th:if="${person.id==c.person.id}">
				<a th:href="@{|/person/comment/${c.id}/delete|}">
					<input type="hidden" name="blog" th:value="*{blog.id}">
					<input type="hidden" name="person" th:value="*{person.id}">
				削除</a>
			</span></td>
		</tr>
	</table>
	<div>
			<input type="submit" value="投稿">
		</div>
	</div>
	</form>
</div>
</body>
</html>